@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    url('Sporting_Grotesque-Bold.eot');
    src:    url('Sporting_Grotesque-Bold.eot?#iefix') format('embedded-opentype'),
            url('Sporting_Grotesque-Bold.woff') format('woff'),
            url('Sporting_Grotesque-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    url('Sporting_Grotesque-Regular.eot');
    src:    url('Sporting_Grotesque-Regular.eot?#iefix') format('embedded-opentype'),
            url('Sporting_Grotesque-Regular.woff') format('woff'),
            url('Sporting_Grotesque-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
