@font-face {
    font-family: 'sporting_grotesque';
    src: url('sporting_grotesque_gras-webfont.woff2') format('woff2'),
         url('sporting_grotesque_gras-webfont.woff') format('woff'),
         url('sporting_grotesque_gras-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'sporting_grotesque';
    src: url('sporting_grotesque_normal-webfont.woff2') format('woff2'),
         url('sporting_grotesque_normal-webfont.woff') format('woff'),
         url('sporting_grotesque_normal-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
