<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Alpha</key>
	<string>A_lpha.glif</string>
	<key>Alphatonos</key>
	<string>A_lphatonos.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt</key>
	<string>B_.alt.glif</string>
	<key>Beta</key>
	<string>B_eta.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Chi</key>
	<string>C_hi.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Epsilon</key>
	<string>E_psilon.glif</string>
	<key>Epsilontonos</key>
	<string>E_psilontonos.glif</string>
	<key>Eta</key>
	<string>E_ta.glif</string>
	<key>Etatonos</key>
	<string>E_tatonos.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gamma</key>
	<string>G_amma.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Iota</key>
	<string>I_ota.glif</string>
	<key>Iotadieresis</key>
	<string>I_otadieresis.glif</string>
	<key>Iotatonos</key>
	<string>I_otatonos.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kappa</key>
	<string>K_appa.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lambda</key>
	<string>L_ambda.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Mu</key>
	<string>M_u.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Nu</key>
	<string>N_u.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.alt</key>
	<string>O_.alt.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Omegatonos</key>
	<string>O_megatonos.glif</string>
	<key>Omicron</key>
	<string>O_micron.glif</string>
	<key>Omicrontonos</key>
	<string>O_microntonos.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Phi</key>
	<string>P_hi.glif</string>
	<key>Pi</key>
	<string>P_i.glif</string>
	<key>Pi.ss01</key>
	<string>P_i.ss01.glif</string>
	<key>Psi</key>
	<string>P_si.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q_.alt.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Rho</key>
	<string>R_ho.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.alt</key>
	<string>S_.alt.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Sigma</key>
	<string>S_igma.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tau</key>
	<string>T_au.glif</string>
	<key>Theta</key>
	<string>T_heta.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Upsilon</key>
	<string>U_psilon.glif</string>
	<key>Upsilondieresis</key>
	<string>U_psilondieresis.glif</string>
	<key>Upsilontonos</key>
	<string>U_psilontonos.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Xi</key>
	<string>X_i.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>Zeta</key>
	<string>Z_eta.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.case</key>
	<string>acute.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>alpha</key>
	<string>alpha.glif</string>
	<key>alpha.ss01</key>
	<string>alpha.ss01.glif</string>
	<key>alphatonos</key>
	<string>alphatonos.glif</string>
	<key>alphatonos.ss01</key>
	<string>alphatonos.ss01.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anoteleia</key>
	<string>anoteleia.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>beta</key>
	<string>beta.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chi</key>
	<string>chi.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.case</key>
	<string>circumflex.case.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>delta</key>
	<string>delta.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis.case.glif</string>
	<key>dieresistonos</key>
	<string>dieresistonos.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.alt</key>
	<string>eight.alt.glif</string>
	<key>eight.susp_prop</key>
	<string>eight.susp_prop.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>epsilon</key>
	<string>epsilon.glif</string>
	<key>epsilontonos</key>
	<string>epsilontonos.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eta</key>
	<string>eta.glif</string>
	<key>etatonos</key>
	<string>etatonos.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_i</key>
	<string>f_i.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.alt</key>
	<string>five.alt.glif</string>
	<key>five.susp_prop</key>
	<string>five.susp_prop.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt</key>
	<string>four.alt.glif</string>
	<key>four.susp_prop</key>
	<string>four.susp_prop.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gamma</key>
	<string>gamma.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>iota</key>
	<string>iota.glif</string>
	<key>iotadieresis</key>
	<string>iotadieresis.glif</string>
	<key>iotadieresistonos</key>
	<string>iotadieresistonos.glif</string>
	<key>iotatonos</key>
	<string>iotatonos.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kappa</key>
	<string>kappa.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lambda</key>
	<string>lambda.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.alt</key>
	<string>nine.alt.glif</string>
	<key>nine.susp_prop</key>
	<string>nine.susp_prop.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nu</key>
	<string>nu.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>omega</key>
	<string>omega.glif</string>
	<key>omegatonos</key>
	<string>omegatonos.glif</string>
	<key>omicron</key>
	<string>omicron.glif</string>
	<key>omicrontonos</key>
	<string>omicrontonos.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.alt</key>
	<string>one.alt.glif</string>
	<key>one.susp_prop</key>
	<string>one.susp_prop.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>phi</key>
	<string>phi.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>psi</key>
	<string>psi.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rho</key>
	<string>rho.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.case</key>
	<string>ring.case.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt</key>
	<string>seven.alt.glif</string>
	<key>seven.susp_prop</key>
	<string>seven.susp_prop.glif</string>
	<key>sigma</key>
	<string>sigma.glif</string>
	<key>sigma1</key>
	<string>sigma1.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt</key>
	<string>six.alt.glif</string>
	<key>six.susp_prop</key>
	<string>six.susp_prop.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tau</key>
	<string>tau.glif</string>
	<key>theta</key>
	<string>theta.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt</key>
	<string>three.alt.glif</string>
	<key>three.susp_prop</key>
	<string>three.susp_prop.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.case</key>
	<string>tilde.case.glif</string>
	<key>tonos</key>
	<string>tonos.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt</key>
	<string>two.alt.glif</string>
	<key>two.susp_prop</key>
	<string>two.susp_prop.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0344</key>
	<string>uni0344.glif</string>
	<key>uni037E</key>
	<string>uni037E_.glif</string>
	<key>uni0394</key>
	<string>uni0394.glif</string>
	<key>uni03A9</key>
	<string>uni03A_9.glif</string>
	<key>uni03BC</key>
	<string>uni03B_C_.glif</string>
	<key>upsilon</key>
	<string>upsilon.glif</string>
	<key>upsilondieresis</key>
	<string>upsilondieresis.glif</string>
	<key>upsilondieresistonos</key>
	<string>upsilondieresistonos.glif</string>
	<key>upsilontonos</key>
	<string>upsilontonos.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>xi</key>
	<string>xi.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt</key>
	<string>zero.alt.glif</string>
	<key>zero.susp_prop</key>
	<string>zero.susp_prop.glif</string>
	<key>zeta</key>
	<string>zeta.glif</string>
</dict>
</plist>
