<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Aacute</string>
		<string>Agrave</string>
	</array>
	<key>@MMK_L_Alpha</key>
	<array>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>uni0394</string>
		<string>Alphatonos</string>
		<string>Delta</string>
	</array>
	<key>@MMK_L_Gamma</key>
	<array>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
		<string>Gamma</string>
		<string>Upsilontonos</string>
	</array>
	<key>@MMK_L_GreeksRoundCaps</key>
	<array>
		<string>Omicron</string>
		<string>Theta</string>
		<string>Phi</string>
		<string>uni03A9</string>
		<string>Omega</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>C</string>
		<string>eight</string>
		<string>Q.alt</string>
		<string>six</string>
		<string>three</string>
		<string>zero</string>
		<string>O.alt</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>nine</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>u</string>
		<string>p</string>
		<string>q</string>
		<string>m</string>
		<string>s</string>
		<string>y</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
		<string>r</string>
		<string>g</string>
		<string>three.susp_prop</string>
		<string>one.susp_prop</string>
		<string>five.susp_prop</string>
		<string>nine.susp_prop</string>
		<string>four.susp_prop</string>
		<string>two.susp_prop</string>
		<string>yacute</string>
		<string>uacute</string>
		<string>ugrave</string>
		<string>udieresis</string>
		<string>ydieresis</string>
		<string>ntilde</string>
		<string>ucircumflex</string>
		<string>zero.susp_prop</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>e</string>
		<string>c</string>
		<string>a</string>
		<string>o</string>
		<string>oslash</string>
		<string>eacute</string>
		<string>oacute</string>
		<string>aacute</string>
		<string>egrave</string>
		<string>agrave</string>
		<string>ograve</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>acircumflex</string>
		<string>odieresis</string>
		<string>edieresis</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ccedilla</string>
		<string>ae</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Aacute</string>
		<string>Agrave</string>
	</array>
	<key>@MMK_R_Alpha</key>
	<array>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>uni0394</string>
		<string>Delta</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>C</string>
		<string>eight</string>
		<string>Q.alt</string>
		<string>six</string>
		<string>three</string>
		<string>zero</string>
		<string>O.alt</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>nine</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_R_capsForGamma</key>
	<array>
		<string>Omicron</string>
		<string>Theta</string>
		<string>Phi</string>
		<string>uni03A9</string>
		<string>Omega</string>
	</array>
	<key>@MMK_R_capsWithAlpha</key>
	<array>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
		<string>Psi</string>
	</array>
	<key>@MMK_R_lowerForAlpha</key>
	<array>
		<string>nu</string>
		<string>gamma</string>
		<string>psi</string>
	</array>
	<key>@MMK_R_lowerForGamma</key>
	<array>
		<string>eta</string>
		<string>omicron</string>
		<string>iota</string>
		<string>kappa</string>
		<string>rho</string>
		<string>uni03BC</string>
		<string>omicrontonos</string>
		<string>etatonos</string>
		<string>iotatonos</string>
		<string>mu</string>
		<string>alpha</string>
		<string>alphatonos</string>
		<string>upsilon</string>
		<string>upsilontonos</string>
		<string>sigma</string>
		<string>omega</string>
		<string>omegatonos</string>
		<string>epsilon</string>
		<string>epsilontonos</string>
		<string>alpha.ss01</string>
		<string>alphatonos.ss01</string>
	</array>
	<key>@MMK_R_marks</key>
	<array>
		<string>ellipsis</string>
		<string>endash</string>
		<string>emdash</string>
		<string>hyphen</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>period</string>
		<string>comma</string>
		<string>guillemotright</string>
		<string>uni037E</string>
		<string>anoteleia</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>u</string>
		<string>p</string>
		<string>q</string>
		<string>m</string>
		<string>s</string>
		<string>y</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
		<string>r</string>
		<string>g</string>
		<string>three.susp_prop</string>
		<string>one.susp_prop</string>
		<string>five.susp_prop</string>
		<string>nine.susp_prop</string>
		<string>four.susp_prop</string>
		<string>two.susp_prop</string>
		<string>yacute</string>
		<string>uacute</string>
		<string>ugrave</string>
		<string>udieresis</string>
		<string>ydieresis</string>
		<string>ntilde</string>
		<string>ucircumflex</string>
		<string>zero.susp_prop</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>e</string>
		<string>c</string>
		<string>a</string>
		<string>o</string>
		<string>oslash</string>
		<string>eacute</string>
		<string>oacute</string>
		<string>aacute</string>
		<string>egrave</string>
		<string>agrave</string>
		<string>ograve</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>acircumflex</string>
		<string>odieresis</string>
		<string>edieresis</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ccedilla</string>
		<string>ae</string>
		<string>oe</string>
	</array>
</dict>
</plist>
