<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>T</key>
		<integer>-150</integer>
		<key>V</key>
		<integer>-150</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_Alpha</key>
	<dict>
		<key>@MMK_R_capsWithAlpha</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_Gamma</key>
	<dict>
		<key>@MMK_R_Alpha</key>
		<integer>-110</integer>
		<key>@MMK_R_lowerForAlpha</key>
		<integer>-50</integer>
		<key>@MMK_R_lowerForGamma</key>
		<integer>-150</integer>
		<key>@MMK_R_marks</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>T</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>-70</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-70</integer>
		<key>Y</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>T</key>
		<integer>-120</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>T</key>
		<integer>-120</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-140</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-70</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_O</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_O</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-70</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_O</key>
		<integer>-120</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-140</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
	</dict>
	<key>f_f</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
	</dict>
</dict>
</plist>
