<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>d</string>
		<string>i</string>
		<string>l</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Udieresis.ss01</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_K.alt</key>
	<array>
		<string>K.ss01</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Q</string>
		<string>O.ss01</string>
		<string>Q.ss01</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>R.ss01</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>T_T.liga</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_emdash</key>
	<array>
		<string>emdash</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>dotlessi</string>
		<string>fi</string>
	</array>
	<key>@MMK_L_iacute</key>
	<array>
		<string>iacute</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_L_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_igrave</key>
	<array>
		<string>igrave</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>fl</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>oe</string>
		<string>p</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>f_t.liga</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>K.ss01</string>
		<string>R.ss01</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_L</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Q</string>
		<string>O.ss01</string>
		<string>Q.ss01</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>T_T.liga</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Udieresis.ss01</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_emdash</key>
	<array>
		<string>emdash</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_t.liga</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_iacute</key>
	<array>
		<string>iacute</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_R_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_igrave</key>
	<array>
		<string>igrave</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>l</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>oe</string>
		<string>q</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
</dict>
</plist>
