<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-200</integer>
		<key>@MMK_R_U</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-172</integer>
		<key>@MMK_R_W</key>
		<integer>-150</integer>
		<key>@MMK_R_Y</key>
		<integer>-170</integer>
		<key>@MMK_R_space</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_I</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-140</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_emdash</key>
		<integer>-60</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_m</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-200</integer>
		<key>@MMK_R_V</key>
		<integer>-200</integer>
		<key>@MMK_R_W</key>
		<integer>-200</integer>
		<key>@MMK_R_Y</key>
		<integer>-170</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_period</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-80</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_W</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-200</integer>
		<key>@MMK_R_O</key>
		<integer>-72</integer>
		<key>@MMK_R_S</key>
		<integer>-90</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-200</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-200</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>Adieresis</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-200</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-160</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-170</integer>
		<key>@MMK_R_period</key>
		<integer>-200</integer>
		<key>@MMK_R_space</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-200</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-65</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-160</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-170</integer>
		<key>@MMK_R_period</key>
		<integer>-180</integer>
		<key>@MMK_R_space</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-130</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-180</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-160</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-180</integer>
		<key>@MMK_R_space</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>40</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_m</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>40</integer>
		<key>exclam</key>
		<integer>40</integer>
		<key>question</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_guillemotleft</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_W</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_guillemotright</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-160</integer>
		<key>@MMK_R_V</key>
		<integer>-160</integer>
		<key>@MMK_R_W</key>
		<integer>-160</integer>
		<key>@MMK_R_Y</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>question</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>exclam</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-200</integer>
		<key>@MMK_R_V</key>
		<integer>-200</integer>
		<key>@MMK_R_W</key>
		<integer>-200</integer>
		<key>@MMK_R_Y</key>
		<integer>-160</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_J</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_space</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_W</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>question</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_m</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-50</integer>
		<key>S</key>
		<integer>-50</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>plus</key>
		<integer>-170</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>T</key>
		<integer>-72</integer>
		<key>Y</key>
		<integer>-50</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>Y</key>
		<integer>-100</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-200</integer>
		<key>a</key>
		<integer>-145</integer>
		<key>c</key>
		<integer>-145</integer>
		<key>d</key>
		<integer>-145</integer>
		<key>e</key>
		<integer>-145</integer>
		<key>g</key>
		<integer>-145</integer>
		<key>j</key>
		<integer>-125</integer>
		<key>m</key>
		<integer>-145</integer>
		<key>n</key>
		<integer>-145</integer>
		<key>o</key>
		<integer>-145</integer>
		<key>p</key>
		<integer>-145</integer>
		<key>q</key>
		<integer>-145</integer>
		<key>r</key>
		<integer>-145</integer>
		<key>s</key>
		<integer>-145</integer>
		<key>u</key>
		<integer>-145</integer>
		<key>v</key>
		<integer>-145</integer>
		<key>w</key>
		<integer>-145</integer>
		<key>x</key>
		<integer>-145</integer>
		<key>y</key>
		<integer>-145</integer>
		<key>z</key>
		<integer>-145</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-160</integer>
		<key>@MMK_R_o</key>
		<integer>-170</integer>
		<key>c</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-72</integer>
		<key>e</key>
		<integer>-170</integer>
		<key>g</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-72</integer>
		<key>m</key>
		<integer>-72</integer>
		<key>n</key>
		<integer>-72</integer>
		<key>p</key>
		<integer>-72</integer>
		<key>q</key>
		<integer>-72</integer>
		<key>r</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-160</integer>
		<key>u</key>
		<integer>-120</integer>
		<key>w</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-72</integer>
		<key>z</key>
		<integer>-100</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-170</integer>
		<key>@MMK_R_m</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-170</integer>
		<key>@MMK_R_u</key>
		<integer>-150</integer>
		<key>c</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-72</integer>
		<key>g</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-72</integer>
		<key>m</key>
		<integer>-72</integer>
		<key>n</key>
		<integer>-72</integer>
		<key>o</key>
		<integer>-170</integer>
		<key>q</key>
		<integer>-72</integer>
		<key>s</key>
		<integer>-160</integer>
		<key>z</key>
		<integer>-100</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-200</integer>
		<key>@MMK_R_g</key>
		<integer>-170</integer>
		<key>@MMK_R_m</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-200</integer>
		<key>@MMK_R_s</key>
		<integer>-170</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-150</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-72</integer>
		<key>i</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-72</integer>
		<key>m</key>
		<integer>-72</integer>
		<key>n</key>
		<integer>-72</integer>
		<key>o</key>
		<integer>-200</integer>
		<key>r</key>
		<integer>-72</integer>
		<key>v</key>
		<integer>-72</integer>
		<key>w</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-72</integer>
		<key>y</key>
		<integer>-72</integer>
		<key>z</key>
		<integer>-72</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>-100</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-29</integer>
		<key>s</key>
		<integer>-29</integer>
		<key>u</key>
		<integer>-50</integer>
	</dict>
	<key>greater</key>
	<dict>
		<key>space</key>
		<integer>-170</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_S</key>
		<integer>-60</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-100</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-50</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>e</key>
		<integer>-40</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
