<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-50</integer>
		<key>S</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-72</integer>
		<key>V</key>
		<integer>-72</integer>
		<key>W</key>
		<integer>-72</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>T</key>
		<integer>-72</integer>
		<key>Y</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-100</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-200</integer>
		<key>a</key>
		<integer>-145</integer>
		<key>c</key>
		<integer>-145</integer>
		<key>d</key>
		<integer>-145</integer>
		<key>e</key>
		<integer>-145</integer>
		<key>g</key>
		<integer>-145</integer>
		<key>j</key>
		<integer>-145</integer>
		<key>m</key>
		<integer>-145</integer>
		<key>n</key>
		<integer>-145</integer>
		<key>o</key>
		<integer>-145</integer>
		<key>p</key>
		<integer>-145</integer>
		<key>q</key>
		<integer>-145</integer>
		<key>r</key>
		<integer>-145</integer>
		<key>s</key>
		<integer>-145</integer>
		<key>u</key>
		<integer>-145</integer>
		<key>v</key>
		<integer>-145</integer>
		<key>w</key>
		<integer>-145</integer>
		<key>x</key>
		<integer>-145</integer>
		<key>y</key>
		<integer>-145</integer>
		<key>z</key>
		<integer>-145</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>O</key>
		<integer>-100</integer>
		<key>a</key>
		<integer>-72</integer>
		<key>c</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-72</integer>
		<key>e</key>
		<integer>-72</integer>
		<key>g</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-72</integer>
		<key>m</key>
		<integer>-72</integer>
		<key>n</key>
		<integer>-72</integer>
		<key>o</key>
		<integer>-72</integer>
		<key>p</key>
		<integer>-72</integer>
		<key>q</key>
		<integer>-72</integer>
		<key>r</key>
		<integer>-72</integer>
		<key>s</key>
		<integer>-72</integer>
		<key>u</key>
		<integer>-72</integer>
		<key>w</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-72</integer>
		<key>z</key>
		<integer>-72</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>-72</integer>
		<key>c</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-72</integer>
		<key>e</key>
		<integer>-72</integer>
		<key>g</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-72</integer>
		<key>m</key>
		<integer>-72</integer>
		<key>n</key>
		<integer>-72</integer>
		<key>o</key>
		<integer>-72</integer>
		<key>q</key>
		<integer>-72</integer>
		<key>r</key>
		<integer>-72</integer>
		<key>s</key>
		<integer>-72</integer>
		<key>u</key>
		<integer>-72</integer>
		<key>z</key>
		<integer>-72</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>O</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-145</integer>
		<key>c</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-72</integer>
		<key>e</key>
		<integer>-145</integer>
		<key>g</key>
		<integer>-72</integer>
		<key>i</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-72</integer>
		<key>m</key>
		<integer>-72</integer>
		<key>n</key>
		<integer>-72</integer>
		<key>o</key>
		<integer>-200</integer>
		<key>p</key>
		<integer>-72</integer>
		<key>q</key>
		<integer>-72</integer>
		<key>r</key>
		<integer>-72</integer>
		<key>s</key>
		<integer>-72</integer>
		<key>t</key>
		<integer>-72</integer>
		<key>u</key>
		<integer>-72</integer>
		<key>v</key>
		<integer>-72</integer>
		<key>w</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-72</integer>
		<key>y</key>
		<integer>-72</integer>
		<key>z</key>
		<integer>-72</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>c</key>
		<integer>-100</integer>
		<key>e</key>
		<integer>-100</integer>
		<key>g</key>
		<integer>-80</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>q</key>
		<integer>-29</integer>
		<key>s</key>
		<integer>-29</integer>
		<key>u</key>
		<integer>-50</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-100</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-50</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>e</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
