<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>e</string>
		<string>c</string>
		<string>i</string>
		<string>o</string>
		<string>l</string>
		<string>n</string>
		<string>h</string>
		<string>u</string>
		<string>b</string>
		<string>t</string>
		<string>d</string>
		<string>m</string>
		<string>f</string>
		<string>k</string>
		<string>j</string>
		<string>s</string>
		<string>y</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
		<string>A</string>
		<string>H</string>
		<string>E</string>
		<string>F</string>
		<string>L</string>
		<string>O</string>
		<string>C</string>
		<string>eight</string>
		<string>B</string>
		<string>r</string>
		<string>P</string>
		<string>R</string>
		<string>D</string>
		<string>G</string>
		<string>S.alt</string>
		<string>I</string>
		<string>T</string>
		<string>Q</string>
		<string>J</string>
		<string>five</string>
		<string>K</string>
		<string>N</string>
		<string>M</string>
		<string>V</string>
		<string>W</string>
		<string>emdash</string>
		<string>Q.alt</string>
		<string>six</string>
		<string>three</string>
		<string>one</string>
		<string>four</string>
		<string>U</string>
		<string>X</string>
		<string>zero</string>
		<string>two</string>
		<string>seven</string>
		<string>S</string>
		<string>comma</string>
		<string>Y</string>
		<string>parenleft</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>g</string>
		<string>a</string>
		<string>plus</string>
		<string>question</string>
		<string>B.alt</string>
		<string>Z</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>O.alt</string>
		<string>uni2460</string>
		<string>uni2461</string>
		<string>uni2462</string>
		<string>uni2463</string>
		<string>uni2464</string>
		<string>uni2465</string>
		<string>uni2466</string>
		<string>uni2467</string>
		<string>uni2469</string>
		<string>exclam</string>
		<string>uni21E9</string>
		<string>uni21E8</string>
		<string>bullet</string>
		<string>copyright</string>
		<string>ampersand</string>
		<string>registered</string>
		<string>asterisk</string>
		<string>periodcentered</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>period</string>
		<string>acute.case</string>
		<string>grave.case</string>
		<string>circumflex.case</string>
		<string>tilde.case</string>
		<string>dieresis.case</string>
		<string>ring.case</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>ring</string>
		<string>bar</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quotesinglbase</string>
		<string>cedilla</string>
		<string>zero.susp_prop</string>
		<string>one.susp_prop</string>
		<string>two.susp_prop</string>
		<string>brokenbar</string>
		<string>slash</string>
		<string>backslash</string>
		<string>ellipsis</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>degree</string>
		<string>guillemotright</string>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>dagger</string>
		<string>paragraph</string>
		<string>section</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>numbersign</string>
		<string>sterling</string>
		<string>percent</string>
		<string>three.susp_prop</string>
		<string>four.susp_prop</string>
		<string>five.susp_prop</string>
		<string>six.susp_prop</string>
		<string>seven.susp_prop</string>
		<string>eight.susp_prop</string>
		<string>nine.susp_prop</string>
		<string>p</string>
		<string>q</string>
		<string>vtf</string>
		<string>parenright</string>
		<string>braceright</string>
		<string>A.smcp</string>
		<string>B.smcp</string>
		<string>C.smcp</string>
		<string>D.smcp</string>
		<string>E.smcp</string>
		<string>F.smcp</string>
		<string>G.smcp</string>
		<string>H.smcp</string>
		<string>I.smcp</string>
		<string>J.smcp</string>
		<string>K.smcp</string>
		<string>L.smcp</string>
		<string>M.smcp</string>
		<string>N.smcp</string>
		<string>O.smcp</string>
		<string>P.smcp</string>
		<string>Q.smcp</string>
		<string>R.smcp</string>
		<string>S.smcp</string>
		<string>T.smcp</string>
		<string>U.smcp</string>
		<string>V.smcp</string>
		<string>W.smcp</string>
		<string>X.smcp</string>
		<string>Y.smcp</string>
		<string>Z.smcp</string>
		<string>oslash</string>
		<string>Oslash.smcp</string>
		<string>Oslash</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dollar</string>
		<string>cent</string>
		<string>Euro</string>
		<string>oe</string>
		<string>AE</string>
		<string>OE</string>
		<string>nine</string>
		<string>ae</string>
		<string>grave</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Ccedilla</string>
		<string>Eacute</string>
		<string>Egrave</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Uacute</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>dotlessi</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>uacute</string>
		<string>ugrave</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>uni2468</string>
		<string>Aacute.smcp</string>
		<string>Agrave.smcp</string>
		<string>Acircumflex.smcp</string>
		<string>Atilde.smcp</string>
		<string>Adieresis.smcp</string>
		<string>Aring.smcp</string>
		<string>Ccedilla.smcp</string>
		<string>Eacute.smcp</string>
		<string>Egrave.smcp</string>
		<string>Ecircumflex.smcp</string>
		<string>Edieresis.smcp</string>
		<string>Iacute.smcp</string>
		<string>Igrave.smcp</string>
		<string>Icircumflex.smcp</string>
		<string>Idieresis.smcp</string>
		<string>Ntilde.smcp</string>
		<string>Oacute.smcp</string>
		<string>Ograve.smcp</string>
		<string>Ocircumflex.smcp</string>
		<string>Uacute.smcp</string>
		<string>Ugrave.smcp</string>
		<string>Ucircumflex.smcp</string>
		<string>Udieresis.smcp</string>
		<string>Yacute.smcp</string>
		<string>Ydieresis.smcp</string>
		<string>AE.smcp</string>
		<string>OE.smcp</string>
		<string>germandbls</string>
		<string>Odieresis.smcp</string>
	</array>
</dict>
</plist>
