<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.smcp</key>
	<string>A__smcp.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AE.smcp</key>
	<string>A_E__smcp.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.smcp</key>
	<string>A_acute_smcp.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.smcp</key>
	<string>A_circumflex_smcp.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.smcp</key>
	<string>A_dieresis_smcp.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.smcp</key>
	<string>A_grave_smcp.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Aring.smcp</key>
	<string>A_ring_smcp.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>Atilde.smcp</key>
	<string>A_tilde_smcp.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt</key>
	<string>B__alt.glif</string>
	<key>B.smcp</key>
	<string>B__smcp.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.smcp</key>
	<string>C__smcp.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccedilla.smcp</key>
	<string>C_cedilla_smcp.glif</string>
	<key>Ccedilla.smcp.001</key>
	<string>C_cedilla_smcp_001.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.smcp</key>
	<string>D__smcp.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.smcp</key>
	<string>E__smcp.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.smcp</key>
	<string>E_acute_smcp.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.smcp</key>
	<string>E_circumflex_smcp.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.smcp</key>
	<string>E_dieresis_smcp.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.smcp</key>
	<string>E_grave_smcp.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.smcp</key>
	<string>F__smcp.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.smcp</key>
	<string>G__smcp.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.smcp</key>
	<string>H__smcp.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.smcp</key>
	<string>I__smcp.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.smcp</key>
	<string>I_acute_smcp.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Icircumflex.smcp</key>
	<string>I_circumflex_smcp.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idieresis.smcp</key>
	<string>I_dieresis_smcp.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.smcp</key>
	<string>I_grave_smcp.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.smcp</key>
	<string>J__smcp.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.smcp</key>
	<string>K__smcp.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.smcp</key>
	<string>L__smcp.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.smcp</key>
	<string>M__smcp.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.smcp</key>
	<string>N__smcp.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.smcp</key>
	<string>N_tilde_smcp.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.alt</key>
	<string>O__alt.glif</string>
	<key>O.smcp</key>
	<string>O__smcp.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>OE.smcp</key>
	<string>O_E__smcp.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.smcp</key>
	<string>O_acute_smcp.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.smcp</key>
	<string>O_circumflex_smcp.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.smcp</key>
	<string>O_dieresis_smcp.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.smcp</key>
	<string>O_grave_smcp.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslash.smcp</key>
	<string>O_slash_smcp.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.smcp</key>
	<string>P__smcp.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q__alt.glif</string>
	<key>Q.smcp</key>
	<string>Q__smcp.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.smcp</key>
	<string>R__smcp.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.alt</key>
	<string>S__alt.glif</string>
	<key>S.smcp</key>
	<string>S__smcp.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.smcp</key>
	<string>T__smcp.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.smcp</key>
	<string>U__smcp.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.smcp</key>
	<string>U_acute_smcp.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ucircumflex.smcp</key>
	<string>U_circumflex_smcp.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.smcp</key>
	<string>U_dieresis_smcp.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.smcp</key>
	<string>U_grave_smcp.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.smcp</key>
	<string>V__smcp.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.smcp</key>
	<string>W__smcp.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.smcp</key>
	<string>X__smcp.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.smcp</key>
	<string>Y__smcp.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Yacute.smcp</key>
	<string>Y_acute_smcp.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.smcp</key>
	<string>Y_dieresis_smcp.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.smcp</key>
	<string>Z__smcp.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.case</key>
	<string>acute_case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.case</key>
	<string>circumflex_case.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis_case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.susp_prop</key>
	<string>eight_susp_prop.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.susp_prop</key>
	<string>five_susp_prop.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.susp_prop</key>
	<string>four_susp_prop.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave_case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.susp_prop</key>
	<string>nine_susp_prop.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.susp_prop</key>
	<string>one_susp_prop.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.case</key>
	<string>ring_case.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.susp_prop</key>
	<string>seven_susp_prop.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.susp_prop</key>
	<string>six_susp_prop.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.susp_prop</key>
	<string>three_susp_prop.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.case</key>
	<string>tilde_case.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.susp_prop</key>
	<string>two_susp_prop.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni21E8</key>
	<string>uni21E_8.glif</string>
	<key>uni21E9</key>
	<string>uni21E_9.glif</string>
	<key>uni2460</key>
	<string>uni2460.glif</string>
	<key>uni2461</key>
	<string>uni2461.glif</string>
	<key>uni2462</key>
	<string>uni2462.glif</string>
	<key>uni2463</key>
	<string>uni2463.glif</string>
	<key>uni2464</key>
	<string>uni2464.glif</string>
	<key>uni2465</key>
	<string>uni2465.glif</string>
	<key>uni2466</key>
	<string>uni2466.glif</string>
	<key>uni2467</key>
	<string>uni2467.glif</string>
	<key>uni2468</key>
	<string>uni2468.glif</string>
	<key>uni2469</key>
	<string>uni2469.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.susp_prop</key>
	<string>zero_susp_prop.glif</string>
</dict>
</plist>
